<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/post.css">
    <body>
        
        <%- include('./partials/nav.ejs') %>
    
        
        <div class="main-container">
            <section class="container content">

                
                <div class="box">
                    <div class="box-img">
                        <img src="img/aperitif.jpg" name="blogImg" alt="image">
                    </div>
                    <div class="box-text">
                    <h2> <%= postTitle %> </h2>
                    <h4> <%= postSnippet %> </h4>
                    <p> <%= postContent %></p> 
                    </div>
                </div>
                
    
            </section>
        </div>
        <%- include('./partials/footer.ejs') %>
<script></script>
</body>
</html>